.editModal {
    position: fixed;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: white;
    z-index: 104;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .option {
        width: 100%;
        border: 1px solid #bdbdbd;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        text-align: center;
    }

    .content {
        display: flex;

        flex-direction: column;
        gap: 8px;
        width: 300px;
        height: 350px;
    }

    .ddLabel {
        margin-bottom: 8px;
    }

    .saveButton {
        margin-top: auto;
    }

    .checkBoxDiv {
        display: flex;
        align-items: center;
    }

    #checkBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        margin-top: 6px;
    }
}
