.editPage {
    width: 80%;
    margin: auto;
}

.optionsDiv {
    width: 100%;
    margin-top: 24px;
}

.options {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    .option {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid rgb(122, 121, 121);
        border-radius: 5px;
        @media (max-width: 1000px) {
            font-size: 16px;
        }
    }
}
