.editPage {
    display: flex;
    flex-direction: column;

    .titles {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        padding: 12px 5px 12px 16px;
        margin: 20px 0;
        box-shadow: 0px 0px 2px grey;
        transition: 0.5s;
        border-radius: 5px;
    }

    .filtersHeaderDiv {
        margin-top: 10px;
        font-size: 20px;
        border: 1px solid grey;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;

        .filtersHeader {
            margin-left: 10px;
        }

        .iconDiv {
            margin-left: auto;
            margin-right: 10px;
            height: 23px;
            width: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;

            .icon {
                height: 100%;
                width: 100%;
            }
        }
    }

    .words {
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        padding: 12px 5px 12px 16px;
        border: 1px solid grey;
        margin-bottom: 8px;
        box-shadow: 0px 0px 2px grey;
        transition: 0.5s;
        border-radius: 5px;
        &:hover {
            box-shadow: 0px 0px 10px grey;
        }
        .word {
            width: 90%;
            overflow: hidden;
        }
    }

    .icons {
        display: flex;
        .deleteIcon {
            color: red;
            height: 100%;
            width: 20px;
            cursor: pointer;
            margin-left: 5px;
        }
        .editIcon {
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
    .deleteIconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .editIconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .viewRef {
        height: 20px;
    }
}
