.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-items: start;

    @media (max-width: 920px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .outlineDiv {
        font-size: 24px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        .settingsHeader {
            margin-left: 15px;
        }

        .settingsLink {
            text-decoration: none;
            outline: none;
            color: black;
            margin-left: 15px;
        }
    }

    .filters {
        grid-template-columns: 1fr 1fr;
    }

    .mainLearner {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainButtons {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;

        .mainButtonsInner {
            width: 100%;
            @media (max-width: 1000px) {
                width: 430px;
            }
        }
    }

    .mainLearnerOuter {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .checkBoxRepeat {
            display: flex;
            margin-top: auto;
            margin-bottom: 10px;
            .checkBox {
                margin-top: 8px;
            }
        }
        .checkboxHeader {
            font-size: 20px;
        }

        .mainLearnerInner {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 375px;
            .headerDiv {
                font-size: 22px;
                margin-bottom: 7px;
                margin-bottom: 20px;
            }
            .wordDiv {
                font-size: 20px;
                word-wrap: break-word;
                max-height: 48px;
                overflow: hidden;
                margin-bottom: 7px;
            }

            .leranButton {
                margin-top: 10px;
                margin-left: -1px;
            }
        }
    }
}
